<h1>
  Actor #<%= @the_actor.id%> details
</h1>

<a href="/actors" class="btn btn-block btn-outline-secondary">
  Go back
</a>


<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%= @the_actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
    <%= @the_actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_actor.image%>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    over 7 years ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    over 7 years ago
  </dd>
</dl>

<h2>Filmography</h2>
<table border = "1">
<% @list_of_characters.each do |a_thing| %>
  <tr>
    <td><%= @list_of_movies.where({:id => a_thing.movie_id}).at(0).title%></td>
    <td><%= @list_of_movies.where({:id => a_thing.movie_id}).at(0).year%></td>
    <td><%= @list_of_directors.where({:id => (@list_of_movies.where({:id => a_thing.movie_id}).at(0).director_id)}).at(0).name%></td>
    <td>
      <%= a_thing.name %>
    </td>
    <td>
      <a href ="/movies/<%= a_thing.id %>">
        Show details
      </a>
    </td>

  </tr>
<% end %>
</table>
